{% extends 'base.html.twig' %}

{% block title %}Gestion Creneau{% endblock %}

{% block content %}
       <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Gestion Note</h1>
        <h1 class="h3 mb-2 text-blue-900"  style="text-align: center;color: #4e73df ;">{{ soutenance.nom }}</h1>

        <!-- DataTales Example -->

        <div class="card shadow mb-4">
            <div class="card-body">
                <form action="{{ path('soutenance_note_add', {'id': soutenance.id}) }}" method="post">
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <td>Nom Etudiant</td>
                            <td>Prenom Etudiant</td>
                            {% if all == true %}
                                {% for evaluateur in soutenance.evaluateurs %}
                                    <td>Professeur: {{ evaluateur.compte.nom }} {{ evaluateur.compte.prenom }}</td>
                                {% endfor %}
                            {% endif %}
                                <td style="text-align: center;">/20</td>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <td>Nom</td>
                            <td>Prenom</td>
                            {% if all == true %}
                                {% for evaluateur in soutenance.evaluateurs %}
                                    <td>{{ evaluateur.compte.nom }} {{ evaluateur.compte.prenom }}</td>
                                {% endfor %}
                            {% endif %}
                            <td><button type="submit" class="form-control btn btn-primary">Enregistrer</button> </td>
                        </tr>
                        </tfoot>
                        <tbody>

                            {% for etudiant in etudiants %}
                                <tr>
                                <td>{{ etudiant.compte.nom }}</td>
                                <td>{{ etudiant.compte.prenom }}</td>
                                    {% if all == true %}
                                        {% for evaluateur in evaluateurs %}
                                            <td>{{ tab[etudiant.id][evaluateur.id] }}</td>
                                        {% endfor %}
                                    {% endif %}
                                    <td ><input class="form-control" id="id-{{ etudiant.id }}" name="id-{{ etudiant.id }}" type="text" value="{{ tab[etudiant.id]["me"] }}"/></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                </form>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    {% for message in app.flashes('success') %}
        <div class="notifyS">
            {{ message }}
        </div>

    {% endfor %}
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}