{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block content %}

    <!-- Modal Ajouter Filière-->
    <div class="modal fade" id="addModele" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLongTitle">Ajouter module</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(moduleForm, {'action': path('module_add'), 'method': 'POST'}) }}
                <div class="modal-body">
                    {{ form_widget(moduleForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
                {{ form_end(moduleForm) }}
            </div>
        </div>
    </div>
    <!--Modal Ajouter Filière-->

    <!-- Modal modifier Filière-->
    <div class="modal fade" id="setModele" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLongTitle">Modifier module</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(moduleFormSet, {'action': path('module_add_set',{'id': idModule}), 'method': 'POST'}) }}
                <div class="modal-body">
                    {{ form_widget(moduleFormSet) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </div>
                {{ form_end(moduleFormSet) }}
            </div>
        </div>
    </div>
        <!-- Modal modifier Filière-->




    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Gestion Modules</h1>

        <!-- DataTales Example -->

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModele">
                    Nouveau module
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Diplôme</th>
                            <th>Filière</th>
                            <th>Année</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Diplôme</th>
                            <th>Filière</th>
                            <th>Année</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                        </tfoot>
                        <tbody>


                        {% for module in modules %}
                            <tr>
                                <td>{{ module.nom }}</td>
                                <td>{{ module.filiere.diplome.nom }}</td>
                                <td>{{ module.filiere.nom }}</td>
                                <td>{{ module.filiere.annee }}</td>

                                <td>
                                    <a href="{{ path('module_set',{'id': module.id}) }}">editer</a>
                                </td>
                                <td>
                                    <a href="{{ path('module_remove',{'id': module.id}) }}">remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    {% for message in app.flashes('success') %}
        <div class="notifyS">
            {{ message }}
        </div>

    {% endfor %}

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% if setModel == true%}
            <script>
                const $=jQuery;
                $('#setModele').modal('show');
            </script>
        {% endif %}
    {% endblock %}