{% extends 'base.html.twig' %}

{% block title %}Gestion Enseiganat{% endblock %}

{% block content %}

    <!-- Modal Génération des comptes-->
    <div class="modal fade" id="generateCompteModele" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLongTitle">Suffix des address mails</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(suffixForm, {'action': path('prof_generate'), 'method': 'POST'}) }}
                <div class="modal-body">
                    {{ form_row(suffixForm.Suffix) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Générer</button>
                </div>
                {{ form_end(suffixForm) }}
            </div>
        </div>
    </div>
    <!--Modal Génération des comptes -->

    <!-- Modal Ajouter Etudiant-->
    <div class="modal fade" id="addModele" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLongTitle">Ajouter enseignant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(profForm, {'action': path('prof_add'), 'method': 'POST'}) }}
                <div class="modal-body">
                    {{ form_row(profForm.nom) }}
                    {{ form_row(profForm.prenom) }}
                    {{ form_row(profForm.mailPerso) }}
                    {{ form_row(profForm.filiere) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
                {{ form_end(profForm) }}
            </div>
        </div>
    </div>
    <!--Modal Ajouter Etudiant-->

    <!-- Modal modifier Etudiant-->
    <div class="modal fade" id="setModele" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLongTitle">Modifier enseignant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(profFormSet, {'action': path('prof_add_set', {'id': idProf}), 'method': 'POST'}) }}

                <div class="modal-body">
                    {{ form_row(profFormSet.nom) }}
                    {{ form_row(profFormSet.prenom) }}
                    {{ form_row(profFormSet.mailPerso) }}
                    {{ form_row(profFormSet.email ) }}
                    {{ form_row(profFormSet.filiere) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </div>
                {{ form_end(profFormSet) }}
            </div>
        </div>
    </div>
    <!-- Modal modifier Etudiant-->

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Gestion Enseignant</h1>

        <!-- DataTales Example -->

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#generateCompteModele">
                    Générer compte
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModele">
                    Nouveau enseignant
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Mail personnel</th>
                            <th>Mail université</th>
                            <th>Diplôme</th>
                            <th>Filiére</th>
                            <th>Année</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Mail personnel</th>
                            <th>Mail université</th>
                            <th>Diplôme</th>
                            <th>Filiére</th>
                            <th>Année</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for prof in profs %}
                            {% for filiere in prof.filieres %}
                            <tr>
                                <td>{{ prof.compte.nom }}</td>
                                <td>{{ prof.compte.prenom }}</td>
                                <td>{{ prof.compte.mailPerso }}</td>
                                <td>{{ prof.compte.email }}</td>
                                <td>{{ filiere.diplome.nom }}</td>
                                <td>{{ filiere.nom }}</td>
                                <td>{{ filiere.annee }}</td>

                                <td>
                                    <a href="{{ path('prof_set', {'id': prof.id}) }}">edit</a>
                                </td>
                                <td>
                                    <a href="{{ path('prof_remove', {'id': prof.id}) }}">remove</a>
                                </td>
                            </tr>
                                {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>

    {% endfor %}
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% if setModel == true%}
            <script>
                const $=jQuery;
                $('#setModele').modal('show');
            </script>
        {% endif %}
    {% endblock %}