<!DOCTYPE html>
<html style="background-color: #f8f9fc;">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        <!-- Custom fonts for this template-->
              <link href="{{ asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
              <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

              <!-- Custom styles for this template-->
              <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">

            <!--notification -->
             <link href="{{ asset('css/notification.css') }}" rel="stylesheet">
          {% block tableStyle %}
            <!-- Custom styles for this page -->
            <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
          {% endblock %}
        {% endblock %}
        <style>
            #logo-container {
                height: 100%;
                background: #4e73df;
                width: 290px;
                padding: 10px;
                text-align: center;
            }
            #logo-container >img{
                height: 100%;
                width: auto;
            }
            #img-logo{
                height: 100%;
                width: auto;
            }
            .nav-logo{
                padding-left: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
        </style>
    </head>
    <body>
        {% block body %}
    			
  <!-- Page Wrapper -->
  <div id="wrapper">

    {% if is_granted('ROLE_ADMIN') %}
    <!-- Sidebiar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('home_page') }}">
        <div class="sidebar-brand-icon">
            <img src="{{ asset('img/logo.png') }}" alt="Logo" width="100%">
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <!-- delete it -->

      <!-- Divider -->
      <hr class="sidebar-divider">
      {% block sidebar %}
        <!-- Heading -->
        <div class="sidebar-heading">
          Menu
        </div>
        {% block sidebarContent %}
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link" href="{{ path('diplome_show') }}">
                <i class="fas fa-stamp"></i>
                <span>Diplôme</span></a>
            </li>

              <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link" href="{{ path('filiere_show') }}">
                <i class="fas fa-map-signs"></i>
                <span>Filière</span></a>
            </li>
              <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link" href="{{ path('module_show') }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Module</span></a>
            </li>

              <!-- Nav Item - Charts -->
            <li class="nav-item">
              <a class="nav-link" href="{{ path('salle_show') }}">
                <i class="far fa-building"></i>
                <span>Salle</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ path('etudiant_show') }}">
                <i class="fas fa-user-graduate"></i>
                <span>Etudiant</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('prof_show') }}">
                <i class="fas fa-chalkboard-teacher"></i>
                <span>Enseignant</span></a>
            </li>
        {% endblock %}
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>

      <!-- End of Sidebar -->
    {% endblock %}
    {% endif %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="nav-logo navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">



       <!-- Topbar Search 
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
      -->
            {% if is_granted('ROLE_ETUDIANT') or is_granted('ROLE_PROF')%}

            <div  id="logo-container">
                <a href="{{ path('home_page') }}">
                    <img src="{{ asset('img/logo.png') }}" alt="Logo" id="img-logo">
                </a>
            </div>

            {% endif %}
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <!-- delete it -->
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="{{ path('show_compte') }}" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{% if is_granted("ROLE_USER") %}{{ app.user.nom }} {% if not is_granted("ROLE_ADMIN") %}{{ app.user.prenom }} {% endif %}{% endif %}</span>
                <img class="img-profile rounded-circle" src="{{ asset('img/user.png') }}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ path('show_compte') }}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profil
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('logout') }}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Se déconnecter
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        <div>
         {% block content %}{% endblock %}
        </div>
    	</div>
		</div>
		</div>
          <div id="footer">
          </div>
        {% endblock %}
        {% block javascripts %}

          <!-- Bootstrap core JavaScript-->
          <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
          <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

          <!-- Core plugin JavaScript-->
          <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

          <!-- Custom scripts for all pages-->
          <script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
            <script>
                $( document ).ready( function(event){
                    console.log('1');
                    $('.notifyS')
                        .removeClass()
                        .attr('data-notification-status', "success")
                        .addClass("bottom-right" + ' notifyS')
                        .addClass('do-show');

                    $('.notifyW')
                        .removeClass()
                        .attr('data-notification-status', "warning")
                        .addClass("bottom-left" + ' notifyW')
                        .addClass('do-show');
                    $('.notifyE')
                        .removeClass()
                        .attr('data-notification-status', "error")
                        .addClass("bottom-left" + ' notifyE')
                        .addClass('do-show');
                })
            </script>
          {% block jsTable %}
            <!-- Page level plugins -->
            <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

            <!-- Page level custom scripts -->
            <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
          {% endblock %}
        {% endblock %}
    </body>
</html>
