{% extends 'base.html.twig' %}

{% block title %}Soutenance{% endblock %}

{% block content %}


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Gestion Soutenance</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModele">
            Nouveau Soutenance
        </button>

        {% for module in modules %}
            <div>
                {{ module.nom }} Soutenances:
                    {% for soutenance in soutenancesByModule[module.id] %}
                        <div>
                            {{ soutenance.nom }} Professeur: {{ soutenance.prof.compte.nom }} {{ soutenance.prof.compte.prenom }}
                            {% if canShow[soutenance.id]['bool'] == true %}
                                <a href="{{ path('soutenance_creneau_etudiant_show', {'id': soutenance.id}) }}">Choisir un Créneau</a>
                            {% else %}
                                <div>
                                    Mon Créneau: {{ canShow[soutenance.id]['creneau'].date|date("m/d/Y") }} {{ canShow[soutenance.id]['creneau'].heure|date('H:i') }} {{ canShow[soutenance.id]['creneau'].duree }}h
                                </div>
                            {% endif %}
                        </div>
                        <div>
                        {% for evaluateur in soutenance.evaluateurs %}
                            Professeur: {{ evaluateur.compte.nom }}{{ evaluateur.compte.prenom }}<br/>
                        {% endfor %}
                        </div>
                    {% endfor %}
            </div>
        {% endfor %}

    </div>
    <!-- /.container-fluid-->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>

    {% endfor %}

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}