{% extends 'base.html.twig' %}

{% block title %}Soutenance{% endblock %}

{% block content %}
<style>

        table{
            width:90%;
        }
        td {
            padding: 15px 0 15px 10px;
        }
        .clock-s{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: right;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .fa-clock{
            padding: 10px 50%;
        }

        .First-div{
            width: 70%;
            background: white;
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58,59,69,.15);
            margin: 0 auto;
            margin-bottom: 25px;
            margin-top: 100px;
            height: 100px;
            text-align: center;
            padding: 30px;
            border-radius: 15px;
            font-size: 2em;
        }
    </style>
    <!-- Modal modifier Soutenance first form-->
    <div class="modal fade" id="setModele" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLongTitle">Déposez un rendu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if setModel == true %}
                    {{ form_start(form, {'action': path('rendu_add_set', {'id': soutenance.id}), 'method': 'POST',"multipart":"multipart/form-data"}) }}
                    <div class="modal-body">
                        <table>
                            {% for rendu in mesRendus %}
                                <tr>
                                    <td >

                                    <img src="{{ asset('img/report.png') }}" width="17px" height="20px">
                                        <a href="{{ asset(rendu.rendu|replace({"/public": ""})) }}" target="_blank" >{{ rendu.nameFile }}</a>
                                    </td>
                                    <td>

                                    {% if rendu.note == null %}
                                        <a href="{{ path('rendu_delete', {'id': soutenance.id, 'rendu': rendu.id}) }}"><i class="fas fa-trash"></i></a>
                                     {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <input type="file" name="renduFile" required="required"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Charger</button>
                    </div>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Modal modifier Rendu first form-->
    {#{{ form_row(form.rendu) }}#}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"  style="width: 80%; margin: 0 auto; padding: 0 20px">
        <img src="{{ asset('img/coach.png') }}" width="50px" height="45px" >
        Mes Soutenances</h1>

        <div class="row" style="width: 80%; margin: 0 auto;">
        {% if soutenancesByModule|length != 0 %}
        {% for module in modules %}
                    {% for soutenance in soutenancesByModule[module.id] %}
                    <div class="col-xl-6 col-md-6 mb-6" style="margin-top: 20px;">
                        <div class="card border-left-primary shadow h-100 py-2" style="z-index: 0;">
                            <div class="dropdown no-arrow" style="position: absolute; right: 0;">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="padding: 10px; font-size: 20px;"
                                >
                                    <i class="fas fa-ellipsis-h fa-sm fa-fw"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Gestion Soutenance</div>
                                    <a class="dropdown-item" href="{{ path('rendu_set', {'id': soutenance.id}) }}">Charger rendu</a>
                                    {% if canShow[soutenance.id]['bool'] == true %}
                                        <a class="dropdown-item" href="{{ path('soutenance_creneau_etudiant_show', {'id': soutenance.id}) }}">Choisir un Créneau</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Module {{ module.nom }}</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ soutenance.nom }}</div>
                                        <div class="h5 mb-0 text-gray-600">
                                        Professeur<ul>
                                                        <li>{{ soutenance.prof.compte.nom }} {{ soutenance.prof.compte.prenom }}</li>
                                                        {% for evaluateur in soutenance.evaluateurs %}
                                                            <li>{{ evaluateur.compte.nom }} {{ evaluateur.compte.prenom }}</li>
                                                        {% endfor %}
                                                    </ul>
                                        </div>
                                        {% if canShow[soutenance.id]['bool'] != true %}
                                            <div class="h6 mb-0 font-weight-bold text-gray-700">
                                                Mon Créneau: {{ canShow[soutenance.id]['creneau'].date|date("d/m/Y") }} {{ canShow[soutenance.id]['creneau'].heure|date('H:i') }} durée: {{ canShow[soutenance.id]['creneau'].duree }}h<br>
                                                Salle
                                                <ul>
                                                    {% for salle in canShow[soutenance.id]['creneau'].salles %}
                                                        <li>{{ salle.nom }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% for note in notesSoutenance[soutenance.id] %}
                                            <div class="h6 mb-0 font-weight-bold text-gray-700">
                                            Notes Soutenance
                                                <ul>
                                                    <li>Professeur {{ note.prof.compte.nom }} {{ note.prof.compte.prenom }} {{ note.note }}/20</li>
                                                </ul>
                                            </div>
                                        {% endfor %}
                                        {% set i = 0 %}

                                        {% if rendusBySoutenance[soutenance.id]|length != 0 %}
                                                <div class="h6 mb-0 font-weight-bold text-gray-700">
                                                Rendu
                                                    <ul style="list-style-type: none;">
                                            {% endif %}
                                        {% for rendu in rendusBySoutenance[soutenance.id] %}
                                                        <li style="margin-bottom: 3px;"><img src="{{ asset('img/report.png') }}" width="17px" height="20px">
                                                            <a href="{{ asset(rendu.rendu|replace({"/public": ""})) }}" target="_blank" >{{ rendu.nameFile }}</a>{% if rendu.note != null %} note: {{ rendu.note }}/20{% endif %}
                                                        </li>
                                            {% set i = i+1 %}
                                        {% endfor %}
                                        {% if rendusBySoutenance[soutenance.id]|length != 0 %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                    </div>
                                    <div class="col-auto clock-s">
                                        <i class="fas fa-clock fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
        {% endfor %}
        {% else %}
        <div class="First-div border-bottom-primary">
            <p>Aucune soutenance pour le moment </p>
        </div>
        {% endif %}

    </div>
    <!-- /.container-fluid-->
    {% for message in app.flashes('success') %}
        <div class="notifyS">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="notifyE">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}
    {% block javascripts %}
        {{ parent() }}

        {% if setModel == true%}
            <script>
                const $=jQuery;
                $('#setModele').modal('show');
            </script>
        {% endif %}
    {% endblock %}