{% extends 'base.html.twig' %}

{% block title %}Soutenance{% endblock %}

{% block content %}

    <!-- Modal modifier Soutenance first form-->
    <div class="modal fade" id="setModele" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLongTitle">Gestion des rendux</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if setModel == true %}
                    {{ form_start(form, {'action': path('rendu_add_set', {'id': soutenance.id}), 'method': 'POST',"multipart":"multipart/form-data"}) }}
                    <div class="modal-body">
                        <ul>
                            {% for rendu in mesRendus %}
                                <li><a href="{{ asset(rendu.rendu|replace({"/public": ""})) }}" target="_blank" >{{ rendu.nameFile }}</a> <a href="{{ path('rendu_delete', {'id': soutenance.id, 'rendu': rendu.id}) }}">remove</a></li>
                            {% endfor %}
                        </ul>
                        <input type="file" name="renduFile" required="required"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Charger</button>
                    </div>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Modal modifier Rendu first form-->
    {#{{ form_row(form.rendu) }}#}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Mes Soutenances</h1>

        <div class="row">
        {% for module in modules %}
                    {% for soutenance in soutenancesByModule[module.id] %}
                    <div class="col-xl-6 col-md-6 mb-6" style="margin-top: 20px;">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="dropdown no-arrow" style="position: absolute; right: 0;">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="padding: 10px; font-size: 20px;"
                                >
                                    <i class="fas fa-ellipsis-h fa-sm fa-fw"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Gestion Soutenance</div>
                                    <a class="dropdown-item" href="{{ path('rendu_set', {'id': soutenance.id}) }}">Charger rendu</a>
                                    {% if canShow[soutenance.id]['bool'] == true %}
                                        <a class="dropdown-item" href="{{ path('soutenance_creneau_etudiant_show', {'id': soutenance.id}) }}">Choisir un Créneau</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Module {{ module.nom }}</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ soutenance.nom }}</div>
                                        <div class="h5 mb-0 text-gray-600">
                                        Professeur<ul>
                                                        <li>{{ soutenance.prof.compte.nom }} {{ soutenance.prof.compte.prenom }}</li>
                                                        {% for evaluateur in soutenance.evaluateurs %}
                                                            <li>{{ evaluateur.compte.nom }} {{ evaluateur.compte.prenom }}</li>
                                                        {% endfor %}
                                                    </ul>
                                        </div>
                                        {% if canShow[soutenance.id]['bool'] != true %}
                                            <div class="h6 mb-0 font-weight-bold text-gray-700">
                                                Mon Créneau: {{ canShow[soutenance.id]['creneau'].date|date("d/m/Y") }} {{ canShow[soutenance.id]['creneau'].heure|date('H:i') }} durée: {{ canShow[soutenance.id]['creneau'].duree }}h
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clock fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
        {% endfor %}

    </div>
    <!-- /.container-fluid-->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>

    {% endfor %}

{% endblock %}
    {% block javascripts %}
        {{ parent() }}

        {% if setModel == true%}
            <script>
                const $=jQuery;
                $('#setModele').modal('show');
            </script>
        {% endif %}
    {% endblock %}